@tailwind base;
@tailwind components;
@tailwind utilities;


/* Everything below this line is causing your Tailwind classes to break!
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.input {
  border-radius: 0.75rem;
  border: 1px solid #d1d5db;
  padding: 0.5rem 1rem;
  outline: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.2s;
  width: 100%;
  background-color: white;
  color: #111827;
}

.input:focus {
  box-shadow: 0 0 0 2px #3b82f6;
}

.input::placeholder {
  color: #9ca3af;
}

.form-input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  border: 1px solid #e5e7eb;
  font-size: 1rem;
  font-weight: 500;
  color: #1f2937;
  outline: none;
  transition: all 0.2s;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.form-input:focus {
  box-shadow: 0 0 0 2px #3b82f6;
}
*/